*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


html{
    
    background-color: #fff;
    color:#555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}





.row{
    max-width: 900px;
    margin:auto;
    text-align: justify;
   
}

section{
    padding:80px 0;

}

.logo-box{
    height:150px;
    width:auto;
    float: left;
    margin-top:20px;
}


.background-img{
    background-image:url(images/herobox.png);
    background-size: cover;
    height:100vh;
    background-position:top;
    background-attachment:fixed;
    padding: 9px;
    
    
}

.hero-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left:40%; 
    transform: translate(-50%, -50%);
    color: #581377;
    font-size: 25px;
    font-weight:400;
    text-align: center;
}


.main-nav{
    float:right;
    list-style: none;
    margin-top:40px;

 
}

.main-nav li{
    display:inline-block;
    margin-right: 60px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color:#581377;
    text-decoration:none;
    text-transform:uppercase;
    font-size:90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid #e622a2; }


.btn-full:link,
.btn-full:visited {
    background-color: #581377;
    border:5px solid  #581377;
    color:rgb(255,255,255);
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    padding:8px;
    
}

.images-src{
    width: 50%;
    height:50%;
    padding:0px;
}



